.filters-category.hide {
  height: 0;
  width: 0;
  font-size: 0;
}

.filters-block-womens {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  padding: 24px 0;
  margin-bottom: 32px;
}
.filters-womens {
  height: 318px;
  width: 223px;
  overflow-y: auto;
}


.filter-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 20px;
}


