.nav-up-block {
  padding: 5px 0;
  background-color: #121212;
  color: #fff;
}

.nav-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-up__place-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-up__item {
  margin-right: 32px;
  display: flex;
  align-items: center;
}
.nav-up__item_local {
  margin-right: 56px;
}
.nav-up__img {
  margin-right: 10px;
}

.number-phone-clock {
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  opacity: 0.8;
}

.local-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  opacity: 0.8;
}

.nav-up__links-block {
  display: flex;
  align-items: center;
  width: 95px;
}

.nav-up__item-link {
  margin-left: 10px;
}

.nav-down-block {
  padding: 16px 0;
  border-bottom: 2px solid #f8f8f8;
}

.nav-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-down__logo-links {
  display: flex;
  align-items: center;
}
.nav-down__title-link {
  margin-right: 79px;
}
.nav-down__logo {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #121212;
 
}

.nav-down__list-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-down__item {
  margin: 0 16px;
}
.nav-down__item:first-child {
  margin-left: 0;
}
.nav-down__item:last-child {
  margin-right: 0;
}

.nav-down__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}


.nav-down__icons-list {
  display: flex;
  align-items: center;
  width: 182px;
}

.nav-down__icons-item {
  margin-left: 31px;
  cursor: pointer;
}
.nav-down__icons-item:first-child {
  margin-left: 15px;
}

.nav-down__icons_shop {
  position: relative;
}

.icons-shop__span {
  position: absolute;
  display: inline-block;
  top: -7px;
  right: -8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #121212;
  text-align: center;
  font-weight: 700;
  font-size: 9px;
  line-height: 18px;
  color: #ffffff;
}

@media screen and (max-width: 760px) {
  .nav-down__list-links {
    display: none;
  }
  .nav-down__title-link {
    margin-right: 0;
  }
  .nav-down__icons-list {
    flex-wrap: wrap;
  }
}


@media screen and (max-width: 610px) {
  .nav-up__item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 350px) {
  .nav-down__icons-list {
    justify-content: space-between;
    width: 100px;
  }
  .nav-down__icons-item {
    margin-left: 0;
  }
  .nav-down__icons-item:first-child {
    margin-left: 0;
  }
}
