.womens-block__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .womens-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  
  .womens-category__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .womens-category__item {
    margin-left: 32px;
  }
  
  .womens-category__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.06em;
    opacity: 0.6;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }
  .womens-category__link:hover {
    font-weight: 500;
    opacity: 1;
    cursor: pointer;
  }

  .womens-category__link.active {
    font-weight: 500;
    opacity: 1;
  }