
.btn-block {
  padding-top: 16px;
  padding-bottom: 48px;
}
.see__btn-block {
    display: flex;
    justify-content: center;
  }


.see-btn {
    width: 100%;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    padding: 17px 0;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .see-btn:hover {
    background-color: #e6e6e6;
    border: 2px solid #e6e6e6;
  }