html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Spartan', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Montserrat', sans-serif;
 */

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
input,
label,
video,
button {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

body {
  font-family: 'Spartan', sans-serif;
  color: #121212;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:focus,
a:active,
button,
button:active,
button:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

.wrapper-html {
  position: relative;
}

.wrapper-html.noscroll {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1130px;
  padding: 0 10px;
}

.square-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 95px;
}

.square {
  width: 22px;
  height: 22px;
  background-color: #121212;
  transform: rotate(45deg);
}

.cart-wrapper.cart-wrapper-none {
  width: 0;
}

.wrapper-error {
  background-color: #e61e1ea6;
  max-width: 1130px;
  margin: 0 auto;
  padding: 10px 0;
}

.error-message-block {
  width: 330px;
  margin: 0 auto;
 
}
.error-title {
  text-align: center;
  font-size: 23px;
}

.parent-loader {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.comments {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .3);
  width: 100%;
  height: 100%;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
}
